<div class="container">
  <!-- PROJECTS LIST -->
  <div class="col-50">
    <workshop-project-list
      [projects]="projects$ | async"
      (selected)="selectProject($event)"
      (deleted)="deleteSeletedProject($event)"
    ></workshop-project-list>
  </div>
  <!-- PROJECT DETAILS -->
  <div class="col-50">
    <workshop-project-details
      [project]="selectedProject"
      (saved)="handleSelectedProject($event)"
      (cancelled)="handleCancel($event)"
    ></workshop-project-details>
  </div>
</div>
